<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
  Created w/ help of:
    - http://launched.zerowidth.com/
-->
<dict>
	<key>Label</key>
	<string>com.jogamp.launched.start-ssh-jenkins-012</string>
	<key>UserName</key>
	<string>jogamp</string>
	<key>GroupName</key>
	<string>staff</string>
	<key>WorkingDirectory</key>
	<string>/Users/jogamp/jenkins</string>
	<key>ProcessType</key>
    <string>Interactive</string>
	<key>LaunchOnlyOnce</key>
	<false/>
    <key>KeepAlive</key>
    <true/>
    <key>AbandonProcessGroup</key>
    <false/>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/sh</string>
		<string>/Users/jogamp/jenkins/start-ssh-jenkins-012.sh</string>
	</array>
    <key>StandardOutPath</key>
    <string>/Users/jogamp/jenkins/macosx64-NV320M-10_6-jogamp-x64-sgothel-012.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/jogamp/jenkins/macosx64-NV320M-10_6-jogamp-x64-sgothel-012.stderr.log</string>
</dict>
<!-- 
Manual Install:

mkdir -p ~/Library/LaunchAgents
cp com.jogamp.launched.start-ssh-jenkins-012.plist ~/Library/LaunchAgents/
launchctl load -w ~/Library/LaunchAgents/com.jogamp.launched.start-ssh-jenkins-012.plist
-->
</plist>

